@font-face {
    font-family: 'ITCAvantGardeStdBkRegular';
    src: url('../font/itcavantgardestd-bk-webfont.eot');
    src: url('../font/itcavantgardestd-bk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/itcavantgardestd-bk-webfont.woff') format('woff'),
         url('../font/itcavantgardestd-bk-webfont.ttf') format('truetype'),
         url('../font/itcavantgardestd-bk-webfont.svg#ITCAvantGardeStdBkRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
	background-color: #f5bac8;
}

.logo {
	width: 260px;
	height: 88px;
	margin: 40px auto;
	background: url(../img/logo.jpg) no-repeat;
}

.message {
	clear: both;
	color: #fff;
	font-family: 'ITCAvantGardeStdBkRegular', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 23px;
	font-weight: normal;
	line-height: 34px;
	text-align: center;
	padding: 0 10px;
	text-shadow: 0 0 30px rgba(125, 0, 30, 0.2);
}

.illustration {
	display: block;
	width: 100%;
	max-width: 500px;
	height: auto;
	margin: 0 auto;
}

@media (max-width:640px){
	.logo {
		margin: 20px auto;
	}
	.message {
		font-size: 18px;
		line-height: 26px;
	}
}