body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background: #f3f2eb;
}

/* link reset */
a:hover,
a:link,
a:visited,
a:active {
	text-decoration: none;
	color: #fff;
}

/* extra animation */
@-webkit-keyframes fadeInDownSmall {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100px, 0);
        transform: translate3d(0, -100px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInDownSmall {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100px, 0);
        transform: translate3d(0, -100px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
.fadeInDownSmall {
    -webkit-animation-name: fadeInDownSmall;
    animation-name: fadeInDownSmall;
}
@-webkit-keyframes fadeInLeftSmall {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100px, 0, 0);
        transform: translate3d(-100px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInLeftSmall {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100px, 0, 0);
        transform: translate3d(-100px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
.fadeInLeftSmall {
    -webkit-animation-name: fadeInLeftSmall;
    animation-name: fadeInLeftSmall
}
@-webkit-keyframes fadeInRightSmall {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInRightSmall {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
.fadeInRightSmall {
    -webkit-animation-name: fadeInRightSmall;
    animation-name: fadeInRightSmall
}
@-webkit-keyframes fadeInUpSmall {
    0% {
        opacity: 0;
       -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0)
    }
    to {
        opacity: 1;
       -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInUpSmall {
    0% {
        opacity: 0;
       -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0)
    }
    to {
        opacity: 1;
    }
}
.fadeInUpSmall {
    -webkit-animation-name: fadeInUpSmall;
    animation-name: fadeInUpSmall
}

.fadeInLeftSmall,
.fadeInRightSmall,
.fadeInUpSmall,
.fadeInDownSmall {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* basic under / over lined  title */
.title-wrapper {
	position: relative;
	display: inline-block;
	margin-bottom: 40px;
}

.line {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	background: #000;
}

.line-top {
	top: 0;
}

.line-top.line-2 {
	top: 6px;
}

.line-bottom {
	bottom: 0;
}

.line-bottom.line-2 {
	bottom: 6px;
}

.title {
	font-weight: 300;
	font-size: 36px;
	margin: 20px 0;
}

/* header */
.header {
	padding: 20px 0;
}

.header .paper {
	z-index: 0;
	position: absolute;
	width: 668px;
	height: 152px;
	right: 250px;
	top: -45px;
	background: url(../img/header_paper_top.png) no-repeat right center;
}

.logo-left {
	z-index: 1;
	display: block;
	position: relative;
	padding: 20px 0 0;
}

.logo-right {
	z-index: 1;
	position: absolute;
	width: 230px;
	height: 120px;
	top: 0;
	right: 20px;
	margin-top: 5px;
	background: url(../img/header_logo_concours.png) no-repeat center center;
}

/* paper splitter */
.paper-splitter,
.visual-splitter {
	z-index: 0;
	position: relative;
	width: 100%;
	clear: both;
}

.paper-splitter .paper-wrapper,
.visual-splitter .visual-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}

.paper-splitter .paper,
.visual-splitter img {
	position: absolute;
	top: 0;
	left: 0;
}

/* hero area */
.hero-area {
	z-index: 2;
	position: relative;
	height: 430px;
}

.hero-area .title-wrapper {
	margin-top: 90px;
	color: #fb558b;
}

.hero-area .title-wrapper .line {
	background: #fb558b;
}

.hashtag-wrapper {
	position: absolute;
	width: 100%;
	right: 0;
	bottom: -45px;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	font-style: italic;
}

.hashtag {
	float: right;
}

.hero-area  .title {
	font-size: 45px;
	margin: 22px 0;
}

.ribbon {
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 192px;
	bottom: -100px;
	left: 0;
	background: url(../img/ribbon_center.png) no-repeat center bottom;
	overflow: hidden;
}

.hero-area .visual {
	z-index: 1;
	position: absolute;
	width: 390px;
	height: 340px;
	left: 50%;
	bottom: -155px;
	margin: 0 0 0 -195px;
	background: url(../img/header_visual.png) no-repeat center center;
}

.hero-area-paper-splitter {
	z-index: 1;
}

.hero-area-paper-splitter .paper-wrapper {
	height: 585px;
	top: -350px;
}

.hero-area-paper-splitter .paper {
	z-index: 3;
	position: absolute;
	width: 544px;
	height: 585px;
	left: 50%;
	margin: 0 0 0 150px;
	background: url(../img/header_paper_right.png) no-repeat center center;
}

/* footer */
.footer {
	background: #4a4a4a;
	color: #fdfdfd;
	font-size: 12px;
	padding: 25px 0;
}

.footer .logo {
	display: block;
	background: url(../img/footer_logo.png) no-repeat center center;
	width: 135px;
	height: 43px;
}

.footer .copyright {
	text-align: right;
	margin-top: 15px;
}

/* section */
.section {
	position: relative;
	padding-bottom: 50px;
}

.section .line {
	background-color: #fff;
}

.section .description {
	line-height: 36px;
	text-align: justify;
}

.section .section-header {
	z-index: 0;
	position: relative;
}

.section.section-step .title-wrapper {
	margin: 0 12px;
}

.section.section-step .title {
	float: left;
	line-height: 40px;
}

.section .title-number {
	float: left;
	margin-top: 5px;
	font-size: 125px;
	font-weight: 600;
	font-style: italic;
	line-height: 56px;
	color: #000;
	opacity: 0.7;
}

.section .title-icon {
	position: absolute;
	bottom: -8px;
	right: -85px;
	width: 76px;
	height: 76px;
}

.section .top-bar {
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
}

.section ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.section.section-step .description {
	margin-top: 30px;
    font-size: 18px;
}

.section-body {
	z-index: 1;
	position: relative;
	padding: 50px 0;
	color: #000000;
}

.section-body .sub-option {
	color: #51d592;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.item-description {
	font-size: 14px;
	line-height: 28px;
}

.item-btn {
	position: relative;
	display: block;
	float: left;
	margin-top: 15px;
	border-radius: 4px;
	background: #3a3a3a;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35);
	padding: 13px 20px 13px 55px;
}

.item-btn:not(.mail-btn):hover {
	cursor: pointer;
	background: #000;
	color: #fff;
	text-decoration: none;
}

.item-btn .icon {
	position: absolute;
	top: 50%;
	left: 15px;
	margin-top: -15px;
	width: 30px;
	height: 30px;
}

.mail-btn {
	background: none;
	box-shadow: none;
	border: 2px solid #3a3a3a;
	color: #3a3a3a;
}

.mail-btn .icon {
	background: url(../img/icon_mail.png) no-repeat center center;
}

.doc-btn .icon {
	background: url(../img/icon_doc.png) no-repeat center center;
}

.download-btn .icon {
	background: url(../img/icon_download.png) no-repeat center center;
}

.section-body .sub-title {
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 30px;
}

.section-body li {
	margin-bottom: 40px;
}

.section-header .content {
	z-index: 1;
	position: relative;
	padding: 80px 0 40px 0;
}

.section-header .visual{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}

.section-header .visual .top-bar {
	display: none;
}
	
/* intro */
.section-intro {
	z-index: 0;
	background: #4c4d96;
	padding: 165px 0 200px 0;
}

.section-intro-paper-splitter .paper-wrapper {
	height: 296px;
	top: -120px;
}

.section-intro-paper-splitter .paper {
	position: absolute;
	width: 585px;
	height: 296px;
	right: 86%;
	left: auto;
	background: url(../img/intro_paper_left.png) no-repeat center center;
}

/* video */
.section-video {
	z-index: 4;
	margin-top: -170px;
	padding: 0;
}

.section-video .paper-wrapper-left {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
}

.section-video .paper-overlay {
	z-index: 2;
	position: absolute;
	width: 359px;
	height: 148px;
    left: 50%;
	bottom: -84px;
    margin: 0 0 0 -200px;
	background: url(../img/video_paper_overlay.png) no-repeat center center;
	
}

.section-video-paper-splitter .paper-wrapper {
	top: -50px;
	height: 245px;
}

.section-video-paper-splitter .paper {
	position: absolute;
	left: 50%;
	margin-left: 200px;
	width: 683px;
	height: 245px;
	background: url(../img/video_paper_bottom.png) no-repeat center right;
}

.video-container {
	z-index: 2;
	position: relative;
}

.video-wrapper {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	background: #3a3b7e;
	line-height: 0;
	padding: 18px;
	box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.video {
	z-index: 1;
	position: relative;
}

/* menu */
.section-menu  {
	z-index: 3;
}

.section-menu .title-wrapper {
	color: #000;
}
.section-menu .line {
	background: #000;
}

.section-menu ul,
.section-menu li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.section-menu li .inner {
	display: block;
	height: 280px;
	padding: 20px 20px 30px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
	text-align: center;
}

.section-menu li .item-number {
	position: absolute;
	top: 0px;
	left: 15px;
	opacity: 0.7;
	font-size: 66px;
	color: #000;
	font-weight: bold;
	font-style: italic;
}

.section-menu li .item-icon {
	position: relative;
	margin: 20px auto 0;
	width: 102px;
	height: 102px;
	border-radius: 102px;
}

.section-menu li .item-name,
.section-menu li .item-description {
	clear: both;
	text-align: center;
	color: #000;
}

.section-menu li .item-name {
	margin-top: 20px;
	font-weight: bold;
	font-size: 20px;
}

.section-menu li .item-description {
	margin-top: 5px;
	font-size: 16px;
}

.section-menu li .item-option {
	display: inline-block;
	margin-top: 14px;
	padding: 6px 12px;
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
}

.section-menu li {
	position: relative;
}

.section-menu li:first-child .inner {
	margin-right: 2px;
}

.section-menu li:last-child .inner {
	margin-left: 2px;
}

.section-menu li.item-1  .inner{
	background: #51d592;
}

.section-menu li.item-2  .inner {
	background: #fb558b;
}

.section-menu li.item-3  .inner {
	background: #fff666;
}

.section-menu li.item-1 .item-icon {
	background: #fff url(../img/step_1_color_icon.png) no-repeat center center;
}

.section-menu li.item-2 .item-icon {
	background: #fff url(../img/step_2_color_icon.png) no-repeat center center;
}

.section-menu li.item-3 .item-icon {
	background: #fff url(../img/step_3_color_icon.png) no-repeat center center;
}

.section-step-1-paper-splitter {
	z-index: 0;
}

.section-menu-paper-splitter,
.section-step-2-paper-splitter {
	z-index: 2;
}

.section-menu-paper-splitter .paper-wrapper {
	top: -370px;
	height: 377px;
}

.section-menu-paper-splitter .paper {
	position: absolute;
    right: -300px;
    left: auto;
	width: 220px;
	height: 377px;
	background: url(../img/menu_paper_bottom_right.png) no-repeat center right;
}

/* step 1 */
.section-step-1  {
	z-index: 2;
}

.section-step-1  .section-header {
	background: #51d592;
}

.section-step-1 .section-header .top-bar {
	background: #3ac47e;
	transform: rotate(-1.0deg);
	top: -20px;	
}

.section-step-1 .description {
    color: #000;
}
	
.section-step-1 .title-icon {
	background: url(../img/step_1_white_icon.png) no-repeat center center;
}

.section-step-1 img {
	left: 60px;
}

.section-step-1-paper-splitter .paper-wrapper {
	height: 198px;
	top: -250px;
}

.section-step-1-paper-splitter .paper {
	width: 199px;
	height: 198px;
	right: -190px;
	left: auto;
	background: url(../img/step_1_paper_bottom_right.png) no-repeat center center;
}

.section-step-1 li {
	position: relative;
}

.section-step-1 li .index {
	position: absolute;
	top: 5px;
	left: 0;
	width: 34px;
	height: 34px;
	background: url("../img/step_1_dot.png") no-repeat top left;
}

.section-step-1 li .inner{
	padding: 0 40px;
}

/* step 2 */
.section-step-2 {
	z-index: 1;
}

.section.section-step-2 .section-header {
	background: #fb558b;
}

.section.section-step-2 .section-header .top-bar {
	background: #e8457a;
	transform: rotate(1.0deg);
	top: -20px;
}

.section.section-step-2 .title-icon {
	background: url(../img/step_2_white_icon.png) no-repeat center center;
}

.section-step-2 li {
	position: relative;
}

.section-step-2 li .inner{
	padding: 0 70px;
}

.section-step-2 li .index{
	position: absolute;
	width: 56px;
	height: 56px;
	line-height: 54px;
	padding-left: 1px;
	top: 50%;
	margin-top: -28px;
    left: 10px;
	color: #fff;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
	background: url("../img/step_2_dot.png") no-repeat top left;
}

.section-step-2-paper-splitter .paper-wrapper {
	height: 498px;
    top: -450px;
}

.section-step-2-paper-splitter .paper {
	width: 420px;
	height: 498px;
	left: 900px;
	background: url(../img/step_2_paper_bottom_right.png) no-repeat center center;
}

/* step 3 */
.section-step-3  {
	z-index: 0;
}

.section.section-step-3  .section-header{
	background: #fff666;
}

.section.section-step-3 .section-header .top-bar {
	background: #f3e949;
	transform: rotate(-1.0deg);
	top: -20px;
}

.section.section-step-3,
.section.section-step-3 .title-wrapper {
	color: #000;
}

.section.section-step-3 .line {
	background: #000;
}

.section.section-step-3 .title-icon {
	background: url(../img/step_3_white_icon.png) no-repeat center center;
}

.section-step-3 .podium {
	width: 1180px;
	height: 454px;
	margin: 0 auto;
	background: url(../img/step_3_podium.png) no-repeat center center;
}

.section.section-step-3 .slots {
	position: relative;
	width: 1080px;
	margin: 0 auto;
}

.section.section-step-3 .slot {
	position: absolute;
	width: 33.33%;
}

.section.section-step-3 .laurel {
	width: 150px;
	height: 124px;
	line-height: 124px;
	margin: 0 auto 30px;
	background: url(../img/step_3_laurel.png) no-repeat center center; 
	background-size: 100%;
	font-size: 70px;
	color: #ff0055;
	font-weight: bold;
	text-align: center;
}

.section.section-step-3 .slot-2 .laurel {
	width: 110px;
	font-size: 50px;
	color: #51d592;
	margin-bottom: 0;
}

.section.section-step-3 .slot-3 .laurel {
	width: 90px;
	font-size: 40px;
	color: #4c4d96;
	margin-bottom: 0;
}

.section.section-step-3 .slot .desc {
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
}

.section.section-step-3 .slot .inner {
	padding: 50px;
}

.section.section-step-3 .slot-1 {
	left: 33.33%;
	top: 0px;
}

.section.section-step-3 .slot-2 {
	left: 0%;
	top: 70px;
}

.section.section-step-3 .slot-3 {
	left: 66.66%;
	top: 120px;
}

/* outro */
.section-outro {
	z-index: 0;
	padding-bottom: 100px;
	background: #4c4d96;
}

.section-outro .top-bar {
	background: #40418a;
	transform: rotate(-1.0deg);
	top: -10px;	
}

.section-outro .title-wrapper {
	margin-left: 60px;
}

.section-outro .title-icon {
	position: absolute;
	bottom: -8px;
	left: -60px;
	width: 37px;
	height: 70px;
	background: url(../img/outro_white_icon.png) no-repeat center center;
}

.section-outro .section-header .content {
	padding-bottom: 10px;
}

.section-outro .section-body {
	color: #fff;
	padding-top: 0;
}

.section-outro .section-body ul .icon {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -28px;
	width: 56px;
	height: 56px;
	background: url(../img/post_icon.png) no-repeat center center;
	text-align: center;
	line-height: 58px;
	font-size: 16px;
	font-weight: 300;
}

.section-outro .section-body li {
	margin-bottom: 20px;
}

.section-outro .section-body li .inner {
	position: relative;
	padding: 15px 80px;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
}

.section-outro .section-body li.special .inner{
	padding: 15px 80px 15px 0;
	padding-left: 0;
	font-size: 35px;
	font-weight: 300;
}

.section-outro .section-header .visual {
	bottom: -100px;
	top: auto;
}

.section-outro-visual-splitter {
	z-index: 2;
}

.section-outro-visual-splitter .visual-wrapper {
	height: 305px;
	top: -200px;
}

.section-outro-paper-splitter {
	z-index: 1;
}

.section-outro-paper-splitter .paper-wrapper {
	height: 345px;
	top: -150px;
}

.section-outro-paper-splitter .paper {
	position: absolute;
	width: 1020px;
	height: 345px;
	right: 520px;
	left: auto;
	background: url(../img/outro_paper_bottom.png) no-repeat left center;
}

.section-outro-paper-splitter-2 .paper-wrapper {
	height: 557px;
	top: 40px;
}

.section-outro-paper-splitter-2 .paper {
	position: absolute;
	width: 215px;
	height: 557px;
	left: 1050px;
	background: url(../img/outro_paper_bottom_right.png) no-repeat left center;
}

/* social */
.section-social {
	z-index: 0;
	background: #3a3a3a;
}

.section-social .section-header {
	z-index: 2;
	padding: 70px 0 30px;
}

.section-social .title {
	text-align: center;
}

.social-btn {
	display: inline-block;
	width: 42px;
	height: 42px;
	margin: 0 3px;
}

.social-btn.social-facebook {
	background: url(../img/footer_facebook_icon.png) no-repeat center center;
}

.social-btn.social-twitter {
	background: url(../img/footer_twitter_icon.png) no-repeat center center;
}


@media (max-width: 1200px) {
	.header .paper {
		width: 400px;
	}
	
	.title {
		font-size: 32px;
	}
	
	.section-step-3 .podium {
		width: auto;
		height: auto;
		background: none;
	}

	.section.section-step-3 .slots {
		position: relative;
		width: auto;
	}
	
	.section.section-step-3 .slot {
		position: relative;
		clear: both;
		width: auto;
		top: 0;
		left: 0;
	}
	
	.section.section-step-3 .slot .inner {
		padding: 0 50px;
	}
}

@media (max-width: 992px) {
	
	.header .paper {
		display: none;
	}
	
	.hero-area .title-wrapper {
		margin-top: 70px;
	}
	
	.hero-area .title {
		font-size: 38px;
	}
	
	.hero-area-paper-splitter .paper {
		margin: -100px 0 0 50px;
	}
	
	.hashtag {
		float: none;
		display: inline-block;
	}
	
	.video-container {
		position: relative;
		padding: 12px;
		background: #3a3b7e;
		box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.25);
	}
	
	.video-wrapper {
		z-index: 3;
		width: 100%;
		padding: 0;
		padding-bottom: 56.25%;
	}
	
	.video {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
	
	.section-video .paper-overlay {
		display: none;
	}
	
	.section-video-paper-splitter .paper {
		position: relative;
		margin: 0;
		left: 50px;
		top: -100px;
		background-size: 100%;
		width: 100%;
	}
	
	
	.section-menu li:first-child .inner {
		margin-right: 0;
	}

	.section-menu li:last-child .inner {
		margin-left: 0;
	}
	
	.section-menu li {
		margin-bottom: 10px;
	}
	
	.section .title,
	.section .title-container,
	.section-body .sub-title,
	.section-body .sub-option,
	.section .info-wrapper,
	.section-outro .section-body li.special {
		text-align: center;
	}
	
	.section-body {
		padding-top: 20px;
	}
	
	.section-header .visual {
		position: relative;
		background: #f3f2eb;
	}
	
	.section-header .visual .top-bar {
		display: block;
	}
	
	.section-step-3 .podium {
		background: none;
		height: auto;
	}
	
	.section .title-number {
		width: 100%;
		margin-bottom: 10px;
		font-size: 100px;
	}

	.section-step .title-icon {
		display: none;
	}
	
	.section img {
		position: relative;
		max-width: 140%;
		height: auto;
	}
	
	.section-step-1 img {
		margin-left: -40px;
	}
	
	.visual-splitter img {
		max-width: 100%;
		height: auto;
	}
	
	.img-wrapper {
		text-align: center;
	}
	
	.img-wrapper img {
		display: inline-block;
	}
	
	.section-menu-paper-splitter,
	.section-step-1-paper-splitter,
	.section-step-2-paper-splitter,
	.section-outro-paper-splitter-2{
		display: none;
	}
	
	.section-outro .section-body li .inner {
		padding: 15px 0 15px 80px;
	}
	
	.section-outro .section-body li.special .inner {
		padding: 15px 0;
	}
	
	.section-outro  {
		padding-bottom: 250px !important;
	}
	
	.section-outro-visual-splitter .visual-wrapper {
		top: -300px;
	}
	
	.footer .logo {
		margin: 0 auto;
	}

	.footer .copyright {
		clear: both;
		text-align: center;
	}
}

@media (max-width: 480px) {
	
	.header {
		text-align: center;
	}
	
	.logo-left,
	.logo-right {
		position: relative;
		clear: both;
	}
	
	.logo-right {
		margin: 0 auto;
		width: 180px;
		background-size: 100%;
		right: 15px;
	}
	
	.hero-area {
	    height: 280px;
	}
	
	.header .paper {
		display: block;
		right: -15px;
		top: -80px;
		background-size: 100%;
	}
	
	.hero-area-paper-splitter .paper {
		margin: 30px 0 0 -180px;
		background-size: 100%;
		transform: rotate(45deg);
		width: 320px;
	}
	
	.hero-area .visual {
		width: 260px;
		height: 226px;
		left: 50%;
		bottom: -113px;
		margin: 0 0 0 -130px;
		background-size: 100% 100%;
	}
	
	.hero-area .title,
	.title	{
		font-size: 30px;
	}
	
	.header .paper {
		width: 320px;
		left: 50%;
		margin-left: -160px;
	}
	
	.hero-area .title-wrapper {
		margin-top: 0;
	}
	
	.section .top-bar {
		height: 30px;
	}
	
	.section-header .content {
		padding: 40px 0 30px 0;
	}
	
	.section {
		padding-bottom: 0px;
	}
	
	.section-intro {
		z-index: 0;
		background: #4c4d96;
		padding: 120px 0 200px 0;
	}
	
	.section-menu li .inner {
		height: auto;
	}
	
	.section-menu li .item-number {
		font-size: 45px;
	}
	
	.section-menu li .item-name {
		font-size: 18px;
	}

	.section-menu li .item-icon {
		width: 90px;
		height: 90px;
	}
	
	.section .description {
		font-size: 14px;
		line-height: 30px;
	}
	
	.item-btn {
		padding: 10px 15px 10px 45px;
	}
	
	.item-btn .icon {
		left: 8px;
	}
	
	.section-step .section-body li .inner {
		padding: 0;
		text-align: center;
	}
	
	.section-step .section-body li .inner .item-description {
		text-align: justify;
	}
	
	
	.section-step .section-body li .item-btn {
		display: inline-block;
		float: none;
	}
	
	.section-step-1 .section-body li .index {
		display: none;
	}
	
	.section-step-2 .section-body li .index {
		position: relative;
		margin: 0 auto 20px;
		left: 0;
	}
	
	.section-outro  {
		padding-bottom: 200px !important;
	}
	
	.section-outro .title-icon {
		display: none;
	}
	
	.section-outro .title-wrapper {
		margin-left: 0;
	}
	
	.section-outro-visual-splitter .visual-wrapper {
		top: -250px;
	}
	
	.section-outro .section-body li .inner{
		text-align: center;
		padding: 0;
		margin-bottom: 30px;
	}
	.section-outro .section-body ul .icon {
		position: relative;
		margin: 0 auto 5px;
	}
	
}